<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Get the books</title>
</head>
<body>
  <h1>Books List</h1>

  <% for (let book of books) { %>
    <div>
      <h4><%= book.title %></h4>
      <p><%= book.author %></p>
      <p>₹<%= book.price %></p>
      <hr>
    </div>
  <% } %>

  <h2>Add a new book</h2>
  <form action="/books" method="POST">
    <input type="text" name="title" placeholder="Title" required><br>
    <input type="text" name="author" placeholder="Author" required><br>
    <input type="number" name="price" placeholder="Price" required><br>
    <button type="submit">Add Book</button>
  </form>
</body>
</html>
